* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #EBEBEB;

}

.navbar {
    background: gray;
    margin-bottom: 5%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    /*display: flex;
    background-color:black;
    background-size: cover;
    background-position: center;*/
}

.overlay {
    position: absolute;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(30, 30, 30, 0.5);
}

.description {
    text-align: center;
    position: relative;
    /*transform: translate(-50%, -55%)*/
    ;
}

.description h1 {
    color: #000;
}

.description p {
    color: #000;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid black;
    background: #1f2833;
    border-radius: 0;
    color: #efecec;
}

.description button:hover {
    border: 1px solid #e6e5e5;
    background: #dddada;
    color: #1c1c1c;
    margin-top: 20px;
}

.login-box {
    width: 80%;
    position: absolute;
    margin-top: auto;
    background-color: white;
    top: 50%;
    -ms-transform: translate(12.5%, -50%);
    transform: translate(12.5%, -50%);
    border-radius: 25px;
}

.logo {
    height: 30px;
}

.double-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.pageBody {
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
}

.storageDiv {
    display: flex;
    background-color: #EBEBEB;
    width: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin-top: 10%;
}

img {
    max-width: 100%;
}

.displayImg {
    object-fit: cover;
    object-position: 50% 50%;
    height: 200px;
    width: 100%;
}

.login-boxes {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.email-box {
    width: 80%;
    border: 2px solid grey;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
}

.username-box {
    width: 80%;
    border: 2px solid grey;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
}

.password-box {
    width: 80%;
    border: 2px solid grey;
    text-align: center;
    border-radius: 25px;
    margin: auto;
}

.main-box {
    width: 85%;
    position: relative;
    margin-top: auto;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
}

.title {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.table-heading{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 15px;
    padding-top: 10px;
}

.table-row {
    text-align: center;
    width: 90%;
    border-top: 1px solid gray;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
}

input {
    max-height: 30px;
}